<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applications Received</title>
    </head>
    <body>
        <header>
            <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; margin-bottom: 20px">Estimado/a <%= name %>,</p>
            <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; line-height: 1.6; margin-bottom: 20px">
                Tiene una nueva postulaci贸n en su posteo<span style="font-weight: bold; color: #007bff"> <%= jobTitle %>.</span> Si desea responder a la solicitud puede entrar
                desde este este enlace: <a href="<%= postedJobUrl %>" style="color: #007bff; text-decoration: none"><%= postedJobUrl %></a>
            </p>
        </header>
        <main>
            <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; margin-bottom: 10px">
                Estos son los detalles de del profesional que realizo la postulaci贸n:
            </p>
            <ul style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; padding-left: 20px; margin-bottom: 20px">
                <li style="color: #555555; margin-bottom: 5px">Nombre: <span style="font-weight: bold"><%= professional_name %></span></li>
                <li style="color: #555555">Profesiones: <span style="font-weight: bold"> <%= professional_categoty.map(cat => cat.name).join(', ') %></span></li>
                <li style="color: #555555">Clasificaci贸n:<span style="font-weight: bold"> <%= professional_rating %> </span></li>
                <li style="color: #555555">Ubicaci贸n:<span style="font-weight: bold"><%= professional_location %></span></li>
            </ul>
        </main>
    </body>
</html>
